.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.heading {
  font-size: 3rem;
  line-height: 58.09px;
}

.size-14 {
  font-size: 0.875rem;
  line-height: 16.94px;
}

.size-15 {
  font-size: 0.9375rem;
  line-height: 18.15px;
}

.size-16 {
  font-size: 1rem;
  line-height: 19.36px;
}

.size-18 {
  font-size: 1.125rem;
  line-height: 21.78px;
}

.btn {
  all: unset;
  padding: 1.5rem 4.375rem;
  border-radius: 5px;
  &-primary {
    background-color: $primaryColor;
    a {
      color: $white;
    }
  }
  &-white {
    background-color: $white;
    a {
      color: $black;
    }
  }
}
